body{
    padding-left: 1em;
    font-family: sans-serif;
    background-color:slategray;
}

main{
    padding-left: 1em;
}

h1{
    color: #4caf50;
    text-shadow: 2px 2px 5px #81c784;
}

a{
    color: darkblue;
    font-weight: bolder;
    text-decoration: none;
}

div{
    border-color:white;
    border-style:dotted;
    border-width:2px;
    text-align:left;
}

p{
    color:white;
}

a:hover{
    text-decoration: underline;
}


