<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RandCard</title>
    <link rel="stylesheet" href="../css/main.css" th:href="@{css/main.css}">
</head>
<body>
<form action="Output.html" th:action="@{process}" th:object="${hand}">
<header>
    <h1>Rock Paper Scissors</h1>
</header>
    <div>
        <p>
            <label><input name="message" type="radio" th:field="*{message}" th:value="0" checked>Rock</label><br>
            <label><input name="message" type="radio" th:field="*{message}" th:value="1">Paper</label><br>
            <label><input name="message" type="radio" th:field="*{message}" th:value="2">Scissors</label>
        </p>

        <!--<p>
            <label><input type="radio" th:field="*{message}" th:value="Rock">Rock</label><br>
            <label><input type="radio" th:field="*{message}" th:value="Paper">Paper</label><br>
            <label><input type="radio" th:field="*{message}" th:value="Scissors">Scissors</label>
        </p>-->
    </div>
            <p>
                <input type="submit" value="Send">
            </p>
        </div>
    <br>
</form>
</body>
</main>
<footer>
    Sheridan College&nbsp;2022
</footer>
</body>
</html>
