<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RandCard</title>
</head>
<body>
<header>
    <h1>Rock Paper Scissors</h1>
</header>
<main>
    <div id="computerID">
        <p>
            AI picked
            <span class="computerName" th:text="${hand.computer}">Scissors</span>
        </p>
    </div>

    <div id="userID">
        <p>
            You picked
            <span class="userName" th:text="${hand.user}">Scissors</span>
        </p>
        <p>
            <a href="handRoll.html" th:href="@{random-hand}">try again</a>
        </p>
    </div>

</main>
<footer>
    Sheridan College&nbsp;&nbsp;&nbsp;&nbsp;2022
</footer>
</body>
</html>
